<VirtualHost *:80>
  ServerName {{ common_name }}
  #ServerAlias www.example.com

  #Redirect permanent / https://{{ common_name }}/

  DirectoryIndex index.html index.php
  DocumentRoot /var/www/wordpress

  <Directory /var/www/wordpress>
      Options FollowSymLinks
      AllowOverride All
      Require all granted
  </Directory>
  
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ common_name }}
  #ServerAlias www.example.com



  <If "%{HTTP_HOST} == '{{ common_name }}'">
    Redirect permanent / https://{{ common_name }}/
  </If>

  DirectoryIndex index.html index.php
  DocumentRoot /var/www/wordpress

  #SSLEngine On
  #SSLCertificateFile /etc/letsencrypt/live/example.com/cert.pem
  #SSLCertificateKeyFile /etc/letsencrypt/live/example.com/privkey.pem
  #SSLCertificateChainFile /etc/letsencrypt/live/example.com/chain.pem

  <Directory /var/www/wordpress>
      Options FollowSymLinks
      AllowOverride All
      Require all granted
  </Directory>

</VirtualHost>
